// Fonts

$abril_fat_face: 'AbrilFatFace', sans-serif;
$aleo_bold: 'AleoBold', sans-serif;
$aleo_regular: 'AleoRegular', sans-serif;
$aleo_light: 'AleoLight', sans-serif;
$myriad_pro_bold: 'MyriadProBold', sans-serif;
$myriad_pro_regular: 'MyriadProRegular', sans-serif;
$roboto_regular: 'RobotoRegular', sans-serif;
$roboto_light: 'RobotoLight', sans-serif;

// Colors

$color_light_grey: #f8f8f8;
$color_white: #ffffff;
$color_black: #000000;
$color_text: #898989;
$color_menu_bg_hover: #f1f1f1;
$color_menu_hover: #a6ced0;
$color_footer_text: #959595;
$color_logo_hover: #ef6d6d;

// Transition

$transition_4ms: .4s;
